@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-Hairline.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-HairlineItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Fractul';
	src: url('./assets/fonts/Fractul-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

.font-fractul {
	font-family: 'Fractul', 'Courier New', Courier, monospace;
}

.bn-container[data-changing-font-demo] .bn-editor * {
	font-family: 'Fractul', 'Courier New', Courier, monospace;
}
.separator {
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	height: 0px;
	width: 100%;
	border-top-width: 1px;
	border-color: hsl(204 20% 88%);
}

.separator:where(.dark, .dark *) {
	border-color: hsl(204 4% 28%);
}

.tooltip {
	z-index: 50;
	cursor: default;
	border-radius: 0.375rem;
	border-width: 1px;
	border-color: hsl(204 20% 82%);
	background-color: hsl(204 20% 94%);
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: black;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.tooltip:where(.dark, .dark *) {
	border-color: hsl(204 4% 24%);
	background-color: hsl(204 4% 16%);
	color: white;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.15);
}
.menu {
	position: relative;
	z-index: 50;
	display: flex;
	max-height: var(--popover-available-height);

	flex-direction: column;
	overflow: auto;
	overscroll-behavior: contain;
	border-radius: 1rem;

	border-width: 2px;
	border-style: solid;
	border-color: hsl(204 20% 88%);
	background-color: white;

	color: black;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	outline: none !important;
}

.menu:where(.dark, .dark *) {
	border-color: hsl(204 4% 24%);
	background-color: hsl(204 4% 16%);
	color: white;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.25), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.menu-item {
	display: flex;
	cursor: default;
	scroll-margin: 0.5rem;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
	padding: 0.5rem;
	outline: none !important;
	font-family: 'Fractul', 'Courier New', Courier, monospace;
	justify-content: start;
}

.menu-item[aria-disabled='true'] {
	opacity: 0.25;
}

.menu-item[data-active-item] {
	background-color: #ebebeb;
}

.menu-item:active,
.menu-item[data-active] {
	background-color: #eae6e6;
}
.button {
	--border: rgb(0 0 0/13%);
	--highlight: rgb(255 255 255/20%);
	--shadow: rgb(0 0 0/10%);
	display: flex;
	height: 2.5rem;
	user-select: none;
	align-items: center;
	gap: 0.25rem;
	white-space: nowrap;
	border-radius: 0.5rem;
	border-style: none;
	background-color: white;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1rem;
	line-height: 1.5rem;
	color: black;
	text-decoration-line: none;
	outline-width: 2px;
	outline-offset: 2px;
	outline-color: hsl(204 100% 40%);
	box-shadow: inset 0 0 0 1px var(--border), inset 0 2px 0 var(--highlight),
		inset 0 -1px 0 var(--shadow), 0 1px 1px var(--shadow);
	width: 250px;
	max-width: 300px;
	justify-content: space-between;
}

.button:where(.dark, .dark *) {
	--border: rgb(255 255 255/10%);
	--highlight: rgb(255 255 255/5%);
	--shadow: rgb(0 0 0/25%);
	background-color: rgb(255 255 255 / 0.05);
	color: white;
	box-shadow: inset 0 0 0 1px var(--border), inset 0 -1px 0 1px var(--shadow),
		inset 0 1px 0 var(--highlight);
}

.button:not(:active):hover {
	--border: rgb(0 0 0/33%);
}

.button:where(.dark, .dark *):not(:active):hover {
	--border: rgb(255 255 255/25%);
}

.button[aria-disabled='true'] {
	opacity: 0.5;
}

.button[data-focus-visible] {
	outline-style: solid;
}

.button:active,
.button[data-active] {
	padding-top: 0.125rem;
	box-shadow: inset 0 0 0 1px var(--border), inset 0 2px 0 var(--border);
}

@media (min-width: 640px) {
	.button {
		gap: 0.5rem;
	}
}

.button:active:where(.dark, .dark *),
.button[data-active]:where(.dark, .dark *) {
	box-shadow: inset 0 0 0 1px var(--border), inset 0 1px 1px 1px var(--shadow);
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin-top: 40px;
}

.label::after {
	content: ':';
	font-size: large;
}

.popover {
	z-index: 50;
	display: flex;
	max-height: min(var(--popover-available-height, 300px), 300px);
	flex-direction: column;
	overflow: auto;
	overscroll-behavior: contain;
	border-radius: 0.5rem;
	border-width: 1px;
	border-style: solid;
	border-color: hsl(204 20% 88%);
	background-color: white;
	padding: 0.5rem;
	color: black;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	transform-origin: top;
	opacity: 0;
	transition-property: opacity, scale, translate;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	scale: 0.95;
	translate: 0 -0.5rem;
}

.popover:focus-visible,
.popover[data-focus-visible] {
	outline: 2px solid hsl(204 100% 40%);
	outline-offset: -1px;
}

.popover:where(.dark, .dark *) {
	border-color: hsl(204 4% 24%);
	background-color: hsl(204 4% 16%);
	color: white;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.25), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.select-item {
	display: flex;
	cursor: default;
	scroll-margin: 0.5rem;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
	padding: 0.5rem;
	outline: none !important;
}

.select-item[aria-disabled='true'] {
	opacity: 0.5;
}

.select-item[data-active-item] {
	background-color: hsl(220, 27%, 2%);
	color: white;
}

.popover[data-enter] {
	opacity: 1;
	scale: 1;
	translate: 0;
}
.container {
	--uib-size: 60px;
	--uib-color: black;
	--uib-speed: 1.6s;
	--uib-dot-size: calc(var(--uib-size) * 0.23);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: var(--uib-size);
	height: var(--uib-dot-size);
	filter: url('#uib-jelly-ooze');
}

.dot {
	position: absolute;
	top: calc(50% - var(--uib-dot-size) / 2);
	left: calc(0px - var(--uib-dot-size) / 2);
	display: block;
	height: var(--uib-dot-size);
	width: var(--uib-dot-size);
	border-radius: 50%;
	background-color: var(--uib-color);
	animation: stream var(--uib-speed) linear infinite both;
	transition: background-color 0.3s ease;
}

.dot:nth-child(2) {
	animation-delay: calc(var(--uib-speed) * -0.2);
}

.dot:nth-child(3) {
	animation-delay: calc(var(--uib-speed) * -0.4);
}

.dot:nth-child(4) {
	animation-delay: calc(var(--uib-speed) * -0.6);
}

.dot:nth-child(5) {
	animation-delay: calc(var(--uib-speed) * -0.8);
}

@keyframes stream {
	0%,
	100% {
		transform: translateX(0) scale(0);
	}

	50% {
		transform: translateX(calc(var(--uib-size) * 0.5)) scale(1);
	}

	99.999% {
		transform: translateX(calc(var(--uib-size))) scale(0);
	}
}
.button {
  --border: rgb(0 0 0/13%);
  --highlight: rgb(255 255 255/20%);
  --shadow: rgb(0 0 0/10%);
  display: flex;
  height: 2.5rem;
  user-select: none;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border-style: none;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  text-decoration-line: none;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(204 100% 40%);
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 2px 0 var(--highlight),
    inset 0 -1px 0 var(--shadow),
    0 1px 1px var(--shadow);
  font-weight: 500;
}

.button:where(.dark, .dark *) {
  --border: rgb(255 255 255/10%);
  --highlight: rgb(255 255 255/5%);
  --shadow: rgb(0 0 0/25%);
  background-color: rgb(255 255 255 / 0.05);
  color: white;
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 -1px 0 1px var(--shadow),
    inset 0 1px 0 var(--highlight);
}

.button:not(:active):hover {
  --border: rgb(0 0 0/33%);
}

.button:where(.dark, .dark *):not(:active):hover {
  --border: rgb(255 255 255/25%);
}

.button[aria-disabled="true"] {
  opacity: 0.5;
}

.button[data-focus-visible] {
  outline-style: solid;
}

.button:active,
.button[data-active] {
  padding-top: 0.125rem;
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 2px 0 var(--border);
}

@media (min-width: 640px) {
  .button {
    gap: 0.5rem;
  }
}

.button:active:where(.dark, .dark *),
.button[data-active]:where(.dark, .dark *) {
  box-shadow:
    inset 0 0 0 1px var(--border),
    inset 0 1px 1px 1px var(--shadow);
}

.backdrop {
  background-color: rgb(0 0 0 / 0.1);
  -webkit-backdrop-filter: blur(4px);
  opacity: 0;
  transition-property: opacity, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  backdrop-filter: blur(0);
}

.backdrop:where(.dark, .dark *) {
  background-color: rgb(0 0 0 / 0.3);
}

.dialog {
  position: fixed;
  inset: 0.75rem;
  z-index: 50;
  margin: auto;
  display: flex;
  height: fit-content;
  max-height: calc(100dvh - 2 * 0.75rem);
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
	justify-content: center;
	align-items: center	;
  border-radius: 0.75rem;
  background-color: white;
  padding: 0.1rem;
  color: black;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  transform-origin: center;
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transform: scale(0.95);
}

@media (min-width: 640px) {
  .dialog {
    top: 10vh;
    bottom: 10vh;
    margin-top: 0px;
    max-height: 80vh;
    width: 420px;
    border-radius: 1rem;
    padding: 1.5rem;
  }
}

.dialog:where(.dark, .dark *) {
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 4% 24%);
  background-color: hsl(204 4% 16%);
  color: white;
}

.heading {
  margin: 0px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.backdrop[data-enter] {
  opacity: 1;
  backdrop-filter: blur(4px);
}

.dialog[data-enter] {
  opacity: 1;
  transform: scale(1);
}
.container {
	--uib-size: 150px;
	--uib-color: black;
	--uib-speed: 1.4s;
	--uib-dot-size: calc(var(--uib-size) * 0.23);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: var(--uib-size);
	height: var(--uib-dot-size);
	filter: url('#uib-jelly-ooze');
}

.dot {
	position: absolute;
	top: calc(50% - var(--uib-dot-size) / 2);
	left: calc(0px - var(--uib-dot-size) / 2);
	display: block;
	height: var(--uib-dot-size);
	width: var(--uib-dot-size);
	border-radius: 50%;
	background-color: var(--uib-color);
	animation: stream var(--uib-speed) linear infinite both;
	transition: background-color 0.3s ease;
}

.dot:nth-child(2) {
	animation-delay: calc(var(--uib-speed) * -0.2);
}

.dot:nth-child(3) {
	animation-delay: calc(var(--uib-speed) * -0.4);
}

.dot:nth-child(4) {
	animation-delay: calc(var(--uib-speed) * -0.6);
}

.dot:nth-child(5) {
	animation-delay: calc(var(--uib-speed) * -0.8);
}

@keyframes stream {
	0%,
	100% {
		transform: translateX(0) scale(0);
	}

	50% {
		transform: translateX(calc(var(--uib-size) * 0.5)) scale(1);
	}

	99.999% {
		transform: translateX(calc(var(--uib-size))) scale(0);
	}
}/* NotFoundPage.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}

.animate-rotateImage {
  animation: rotateImage 10s linear infinite;
}

.animate-bounce {
  animation: bounce 2s infinite;
}

.japanese-theme {
  background-image: url('https://example.com/japanese-theme-image.png'); /* Replace with your image URL */
}
.group-hover .opacity-100 {
  opacity: 1;
}