@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-Hairline.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-HairlineItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fractul';
    src: url('./assets/fonts/Fractul-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}




.font-fractul {
    font-family: 'Fractul','Courier New', Courier, monospace;
}

